@media print {
}

@media (max-width: 1440px) {
}

@media (max-width: 768px) {
    .slider h2 {
        font-size: 20px;
    }
    .slider > div {
        padding: 0 2%;
    }
    .control label {
        font-size: 35px;
    }
    .slider .button {
        padding: 0 15px;
    }
}

@media (max-width: 400px) {
}
