@font-face {
    font-family: 'IcoFont';
    src: url('../fonts/IcoFont.eot'),
         url('../fonts/IcoFont.ttf'),
         url('../fonts/IcoFont.woff');
}

/*** SLIDER WRAPPER ***/
/* .css-slider-wrapper {
    display: block;
    background: #FFFFFF;
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
} */

.css-slider-wrapper > input {
    display: none;
}

/* SLIDER */
.slider {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 1;
    z-index: 0;
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: row;
    flex-wrap: wrap;
    -webkit-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    -webkit-transition: -webkit-transform 1600ms;
    transition: -webkit-transform 1600ms, transform 1600ms;
    -webkit-transform: scale(1);
    transform: scale(1);
}

/* INDIVIDUAL SLIDER BACKGROUND */
.slide1 {
    background: #00bcd7;
    background-image: url('/images/kitchen-1.jpg');
    background-position: center center;
    background-size: cover;
    opacity: 0;
    transition: 1s ease;
}

.slide2 {
    background-color: #FFFFFF;
    background-image: url('/images/about-me-bkgd.jpg');
    left: 100%
}

.slide3 {
    background-color: #AEAEAE;
    background-image: url('/images/kitchen-sink.jpg');
    left: 200%
}

.slide4 {
    background-color: #FFFFFF;
    left: 300%;
}

.slide5 {
    background-color: #AEAEAE;
    left: 400%;
}

.slide5:before {
    content: '\ede1';
    font-family: 'IcoFont';
    position: absolute;
    bottom: -.2em;
    left: 50%;
    transform: translateX(-50%);
    font-size: 45rem;
    opacity: 0.2;
}

.slide6 {
    background-color: #FFFFFF;
    background-image: url('/images/contact-bkgd.jpg');
    left: 500%;
}

.slider > div {
    text-align: center;
}

/* SLIDE EFFECT */
.slide-radio1:checked ~ .slider {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
}

.slide-radio2:checked ~ .slider {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

.slide-radio3:checked ~ .slider {
    -webkit-transform: translateX(-200%);
    transform: translateX(-200%);
}

.slide-radio4:checked ~ .slider {
    -webkit-transform: translateX(-300%);
    transform: translateX(-300%);
}

.slide-radio5:checked ~ .slider {
    -webkit-transform: translateX(-400%);
    transform: translateX(-400%);
}

.slide-radio6:checked ~ .slider {
    -webkit-transform: translateX(-500%);
    transform: translateX(-500%);
}

.slide-radio1:checked ~ .slide1 h2,
.slide-radio2:checked ~ .slide2 h2,
.slide-radio3:checked ~ .slide3 h2,
.slide-radio4:checked ~ .slide4 h2,
.slide-radio5:checked ~ .slide5 h2,
.slide-radio6:checked ~ .slide6 h2,
.slide-radio1:checked ~ .slide1 .button,
.slide-radio2:checked ~ .slide2 .button,
.slide-radio3:checked ~ .slide3 .button,
.slide-radio4:checked ~ .slide4 .button, 
.slide-radio5:checked ~ .slide5 .button,
.slide-radio6:checked ~ .slide6 .button {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
}



/*** NEXT / PREV ARROWS ***/
.control {
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    margin-top: -25px;
    z-index: 10;
}

.control label {
    z-index: 0;
    display: none;
    text-align: center;
    line-height: 50px;
    font-size: 50px;
    color: #2D3E50;
    cursor: pointer;
    opacity: 0.2;
    transition: .5s ease;
}

.control label:hover {
    opacity: 0.5;
}

.next {
    right: 1%;
}

.previous {
    left: 1%;
}

/* SLIDER PAGER ARROW EFFECT */
.slide-radio1:checked ~ .next .numb2,
.slide-radio2:checked ~ .next .numb3,
.slide-radio3:checked ~ .next .numb4,
.slide-radio4:checked ~ .next .numb5,
.slide-radio5:checked ~ .next .numb6,
.slide-radio2:checked ~ .previous .numb1,
.slide-radio3:checked ~ .previous .numb2,
.slide-radio4:checked ~ .previous .numb3,
.slide-radio5:checked ~ .previous .numb4,
.slide-radio6:checked ~ .previous .numb5 {
    display: block;
    z-index: 1;
    transition: .5s ease;
}