/***
-- COLORS --
#FFFFFF;
#F1F1F1;
#AEAEAE;
#E64C66;
#2D3E50;
#1BBC9B;

#71B5D1;
#0084B4;
#1D4859;
***/

.color-swatches {
    display: none;
    flex-direction: column;
    position: absolute;
    z-index: 1000;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.color-swatches > div {
    width: 100px;
    height: 100px;
}

/***
-- FONTS --
Top Nav/Footer:
'Questrial', sans-serif

Headers:
'Oswald', sans-serif

Content:
'Ralewayway', sans-serif
***/




/*** GENERAL STYLES ***/
body {
    margin: 0;
    background: #FFFFFF;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    padding: 10px 2%;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    color: #000000;
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

#wrapper {
    background: #FFFFFF;
    width: 1200px;
    margin: 0 auto;
    border: solid 0px #E7E7E7;
    border-top: 5px solid #0088cc;
    border-radius: 6px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2),
                inset 0 4px 0 #ededed;
}

.main {
    margin: 0 auto;
    max-width: 1140px;
}

section {
    padding: 0 20px 20px;
}

h1 {
    font-size: 5rem;
    font-family: 'Josefin+Sans', sans-serif;
    padding: 0;
}

h2 {
    color: #607d8d;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 10rem;
    font-family: 'Oswald', serif;
    font-weight: 500;
    margin: 0;
    padding: 0;
    opacity: 0;
    position: absolute;
    top: 2.5%;
    left: 0;
    transform: translateX(500px);
    -webkit-transform: translateX(500px);
    transition: transform 800ms, opacity 800ms;
    -webkit-transition: opacity 800ms, -webkit-transform 800ms;
    transition-delay: 1s;
    -webkit-transition-delay: 1s;
}

h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 3rem;
    font-weight: 400;
    color: #0084B4;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

p {
    font-family: 'Raleway', sans-serif;
    color: #f1f1f1;
    font-size: 1.25rem;
}

ul li {
    font-family: 'Raleway', sans-serif;
}

hr {
    padding: 0;
    margin: 50px 0;
    height: 1px;
    border: 0;
    background: rgba(0, 0, 0, .2);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}

a {
    text-decoration: none;
    cursor: pointer;
    transition: .5s ease;
    font-family: 'Raleway', sans-serif;
    color: #71B5D1;
}

a:hover {
    color: #ffffff;
}

input,
select,
textarea {
    width: 100%;
    outline: none;
    font-size: 1.5rem;
    padding: .4em 0;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.75);
    color: rgb(45, 62, 80);
}

input {
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    border-radius: 0;
    margin: 0;
    padding: .4em 0;
    color: rgb(45, 62, 80);
    display: block;
    position: relative;
    width: 100%;
    font-size: 1.5rem;
    background-image: url('/images/down-arrow.png');
    background-repeat: no-repeat;
    background-size: 3%;
    background-position: 99% 50%;
}

textarea {
    height: 5em;
}

::-webkit-input-placeholder {
    color: rgba(45, 62, 80, 0.6);
    transition: .5s ease;
}

::-moz-input-placeholder {
    color: rgba(45, 62, 80, 0.6);
    transition: .5s ease;
}

::-ms-input-placeholder {
    color: rgba(45, 62, 80, 0.6);
    transition: .5s ease;
}

::-o-input-placeholder {
    color: rgba(45, 62, 80, 0.6);
    transition: .5s ease;
}

:focus::-webkit-input-placeholder {
    color: rgba(45, 62, 80, 0.17);
}

:focus::-moz-input-placeholder {
    color: rgba(45, 62, 80, 0.17);
}

:focus::-ms-input-placeholder {
    color: rgba(45, 62, 80, 0.17)
}

:focus::-o-input-placeholder {
    color: rgba(45, 62, 80, 0.17)
}

.btn {
    background-color: #E64C66;
    border: none;
    outline: none;
    padding: .5em 1.5em;
    color: #f1f1f1;
    text-transform: uppercase;
    font-size: 1.5rem;
    cursor: pointer;
    position: relative;
    transition: .5s ease;
    margin: 2em 0 1.5em;
}

.btn:hover {
    background-color: transparent;
    box-shadow: 0 3px 0 0 #E64C66;
    color: #E64C66;
}

.btn-wrap {
    text-align: center;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}


/*** TOP NAV ***/
/* LOGO */
.logo {
    flex: 0 1 15%;
}

.logo p {
    margin: 0;
    font-family: 'Questrial', sans-serif;
    color: #f1f1f1;
    font-size: 1.5rem;
}

.slider-pagination {
    position: relative;
    top: 0;
    width: 100%;
    left: 0;
    text-align: center;
    z-index: 1;
    background-color: rgba(45, 62, 80, 0.85);
    padding: 0 1em;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.slider-pagination nav {
    flex: 0 1 60%;
    display: flex;
    justify-content: space-between;
}

.slider-pagination label {
    /* width: 10px; */
    /* height: 10px; */
    /* border-radius: 50%; */
    /* background: rgba(255, 255, 255, 0.2); */
    /* border: solid 1px rgba(255, 255, 255, 0.4); */
    margin: 0;
    padding: 1.5em;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-family: 'Questrial', sans-serif;
    transition: .5s ease;
    color: rgba(255, 255, 255, 0.6);
}

.slider-pagination label:hover {
    color: #ffffff;
    box-shadow: 0 -3px 0 0 #ffffff inset;
}

/* ACTIVE PAGE */
.slide-radio1:checked ~ .slider-pagination .page1,
.slide-radio2:checked ~ .slider-pagination .page2,
.slide-radio3:checked ~ .slider-pagination .page3,
.slide-radio4:checked ~ .slider-pagination .page4,
.slide-radio5:checked ~ .slider-pagination .page5,
.slide-radio6:checked ~ .slider-pagination .page6 {
    box-shadow: 0 -80px 0 0 #ffffff inset;
    color: #2D3E50;
    font-weight: 700;
}

/* PHONE NUMBER */
.slider-pagination .phone-number {
    flex: 0 1 15%;
}

.slider-pagination .phone-number a {
    color: #f1f1f1;
    font-size: 2rem;
    font-family: 'Questrial', sans-serif;
}



/*** SLIDE 1 (HOME) ***/
.slide1 {
    align-items: flex-start;
    transition: 1s ease;
}

.slide1 .overlay {
    background-color: transparent;
    transition: 1s ease 1.5s;
}

.slide1 .wrapper {
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.35);
    position: absolute;
    top: -50%;
    left: 50%;
    width: 60%;
    transform: translate(-50%, -50%);
    transition: 1s ease 2s;
}

.slide1 h1 {
    padding: 0;
    margin: 0;
    color: #FFFFFF;
    text-shadow: 2px 2px 0 #000000;
    top: 20%;
}

.slide1 h1 span {
    text-decoration: underline;
    font-style: italic;
}

.slide1 h2 {
    position: static;
    font-size: 2.5rem;
    line-height: normal;
    text-transform: none;
    color: #dddddd;
}

.slide1 h2 span {
    text-transform: uppercase;
    text-decoration: underline;
    color: #f1f1f1;
}

.slide1.animate {
    opacity: 1;
}

.slide1.animate .overlay {
    background-color: rgba(96, 125, 141, 0.25);
}

.slide1.animate .wrapper {
    top: 50%;
}



/*** SLIDE 2 (ABOUT) ***/
.slide2 {
}

.slide2 .overlay {
    background-color: rgba(255, 255, 255, 0.8);
}

.slide2 .content {
    background-color: rgba(174, 174, 174, 0.6);
    height: 35em;
    width: 80%;
    overflow-y: scroll;
    text-align: left;
    padding: 2em;
    position: absolute;
    left: 50%;
    bottom: 7%;
    opacity: 0;
    transform: translate(-50%, 150%);
    transition: 1s ease 1.5s;
}

.slide-radio2:checked ~ .slider.slide2 .content {
    transform: translate(-50%, 0);
    opacity: 1;
}

.slide2 .content h3 {
    color: #0084B4;
}

.slide2 .content p {
    color: #2D3E50;
}



/*** SLIDE 3 (SERVICES) ***/
.slide3 .overlay {
    background-color: rgba(174, 174, 174, 0.9);
}

.services ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    width: 100%;
}

.services ul li {
    flex: 0 1 20%;
    margin: 1.5em;
    position: relative;
    border: 1px solid #4e4e4e;
    padding: 3px;
}

.services ul li img {
    width: 100%;
    height: 100%;
}

.services ul li p {
    position: absolute;
    text-align: center;
    width: 100%;
    height: auto;
    bottom: 0;
    left: 0;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.75);
    margin: 0;
    padding: .5em 0;
    transition: .5s ease;
    /* transform: scale(1, 0); */
    opacity: 0;
    transform-origin: bottom center;
    z-index: 1;
}

.services ul li:hover p {
    /* transform: scale(1, 1); */
    opacity: 1;
}

/* POPUPS */
.service-popups .popup {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 60%;
    width: 60%;
    opacity: 0;
    visibility: hidden;
    transition: .5s ease;
}

.service-popups .popup.active {
    visibility: visible;
    opacity: 1;
    z-index: 10;
}

.popup {
    position: relative;
    height: 100%;
}

.popup .shape {
    fill: transparent;
    stroke: #ffffff;
    stroke-width: 20px;
    stroke-dasharray: 0 5000;
    transition: stroke-dasharray 2s linear, fill .5s linear 2s;
}

.popup.active .shape {
    stroke-dasharray: 5000;
    fill: rgba(0, 132, 180, 1);
}

.popup .popup-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: .5s ease 2s;
}

.popup.active .popup-content {
    opacity: 1;
}

.popup .popup-content h3 {
    background-color: #71B5D1;
    margin: .21em;
}

.popup .popup-content ul {
    text-align: left;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 3em;
}

.popup .popup-content ul li {
    color: #f1f1f1;
    font-size: 1.2rem;
    flex: 0 1 50%;
    margin: .5em 0;
}

.popup .close {
    color: #ffffff;
    font-size: 2.7rem;
    position: absolute;
    top: .5em;
    right: .7em;
    z-index: 1;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: .5s ease 2s;
}

.popup.active .close {
    opacity: 1;
    visibility: visible;
}

.popup.active .close i {
    transition: .5s ease;
    color: #1D4859;
}

.popup.active .close i:hover {
    color: #FFFFFF;
}



/*** SLIDE 4 (GALLERY) ***/
.slide4 .overlay {
    background-color: rgba(255, 255, 255, 0.8);
}

.jgallery.jgallery-standard {
    bottom: -10%;
}

.jgallery[data-jgallery-id="1"],
.jgallery[data-jgallery-id="1"] .jgallery-thumbnails,
.jgallery[data-jgallery-id="1"] .zoom-container:not([data-size="fill"]) .jgallery-container {
    background-color: transparent !important;
}

.jgallery[data-jgallery-id="1"] .jgallery-thumbnails .jgallery-container {
    box-shadow: none !important;
}

.jgallery .zoom-container .nav-bottom {
    /* display: none; */
    justify-content: center;
}

.jgallery[data-jgallery-id="1"] .jgallery-btn {
    color: #f1f1f1 !important;
}

.jgallery[data-jgallery-id="1"] .jgallery-btn:hover {
    text-shadow: none !important;
}

.jgallery[data-jgallery-id="1"] .jgallery-thumbnails-horizontal {
    bottom: 6% !important;
}

/* TITLE */
.jgallery .zoom-container .nav-bottom>.title.fade.expanded {
    text-align: center;
    color: #f1f1f1;
}

/* TOOLTIP */
.jgallery[data-jgallery-id="1"] [tooltip]:after {
    color: #f1f1f1 !important;
}



/*** SLIDE 5 (TESTIMONIALS) ***/
.bubble {
    background-color: rgba(241, 241, 241, 0.8);
    padding: 2em;
    border-radius: 2em;
    position: absolute;
    opacity: 0;
}

.bubble:after {
    content: '';
    position: absolute;
    top: 100%;
    right: 10%;
    width: 0;
    height: 0;
    border-top: 50px solid rgba(241, 241, 241, 0.8);
    border-left: 40px solid transparent;
}

.bubble p,
.bubble blockquote {
    color: #2D3E50;
}

.bubble .quote {
    font-size: 2rem;
    position: relative;
}

.bubble .quote:before {
    content: '\f0b1';
    font-family: 'IcoFont';
    opacity:
}

.bubble .quote:after {
    content: '\f0b2';
    font-family: 'IcoFont';
}

.bubble .author {
    font-size: 1.5rem;
}

/* BUBBLE 1 */
.bubble1 {
    transition: 1s ease 1.5s;
    top: 55%;
    left: 5%;
}

.slide-radio5:checked ~ .slider .bubble1 {
    opacity: 1;
}

/* BUBBLE 2 */
.bubble2 {
    transition: 1s ease 2s;
    top: 27%;
    left: 12%;
}

.slide-radio5:checked ~ .slider .bubble2 {
    opacity: 1;
}

.bubble2:after {
    content: '';
    position: absolute;
    top: 100%;
    right: 10%;
    width: 0;
    height: 0;
    border-top: 200px solid rgba(241, 241, 241, 0.8);
    border-left: 80px solid transparent;
}

/* BUBBLE 3 */
.bubble3 {
    transition: 1s ease 2.5s;
    top: 25%;
    left: 52%;
}

.slide-radio5:checked ~ .slider .bubble3 {
    opacity: 1;
}

.bubble3:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 10%;
    width: 0;
    height: 0;
    border-top: 260px solid rgba(241, 241, 241, 0.8);
    border-left: 80px solid transparent;
    transform: scaleX(-1);
}

/* BUBBLE 4 */
.bubble4 {
    transition: 1s ease 3s;
    top: 60%;
    left: 65%;
}

.slide-radio5:checked ~ .slider .bubble4 {
    opacity: 1;
}

.bubble4:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 5%;
    width: 0;
    height: 0;
    border-top: 80px solid rgba(241, 241, 241, 0.8);
    border-left: 80px solid transparent;
    transform: scaleX(-1);
}



/*** SLIDE 6 (CONTACT FORM) ***/
.slide6 .overlay {
    background-color: rgba(255, 255, 255, 0.8);
}

.contact-form {
    margin-top: 8em;
    background-color: rgba(174, 174, 174, 0.6);
    padding: 1em 2em;
    position: relative;
    z-index: 1;
}

.contact-form ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.contact-form ul li {
    flex: 0 1 48%;
    margin: .5em 0;
}

.contact-form ul li:last-of-type {
    flex: 0 1 100%;
}


/*** FOOTER ***/
.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: .5em 0;
    background-color: #2D3E50;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
}

/* SOCIAL MEDIA */
.footer .social ul {
    list-style: none;
    margin: 0;
    padding: 1em 0;
    display: flex;
    justify-content: space-between;
}

.footer .social ul li {
    margin: 0 1.5em;
}

.footer .social ul li a i {
    font-size: 2em;
    transform: scale(1);
    transition: .5s ease;
    color: #71B5D1;
}

.footer .social ul li a:hover i {
    transform: scale(1.4);
    color: #ffffff;
}

/* COPYRIGHT */
.footer .copyright {
    font-size: .8rem;
    color: #f1f1f1;
    font-family: 'Questrial', sans-serif;
}

/* QUICK LINK */
.footer .quick-links {
}

.footer .quick-links ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.footer .quick-links ul li {
    margin: 0 .5em;
    color: #f1f1f1;
}
